html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas.scene {
  width: 100%;
  height: 100%;
  display: block;
}


/* idk bruh */
select {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;

  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
}

select:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

select:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

select::-moz-focus-inner {
  border: 0 !important;
}
